*.o
http_server
server
*.tar.gz
si_p1
lib
*.Po
*.po
*.la
*.lo
*.a
include/confuse.h
lib/libconfuse.a
srclib/libconfuse/src/.deps/
srclib/libconfuse/src/.libs/
srclib/libconfuse/src/libconfuse.la
srclib/libconfuse/Makefile
srclib/libconfuse/config.h
srclib/libconfuse/config.log
srclib/libconfuse/config.status
srclib/libconfuse/libconfuse.pc
srclib/libconfuse/libtool
srclib/libconfuse/stamp-h1
srclib/libconfuse/doc/Doxyfile
srclib/libconfuse/doc/Makefile
srclib/libconfuse/examples/Makefile
srclib/libconfuse/m4/Makefile
srclib/libconfuse/po/Makefile
srclib/libconfuse/po/Makefile.in
srclib/libconfuse/po/POTFILES
srclib/libconfuse/src/Makefile
srclib/libconfuse/src/libconfuse_la-confuse.lo
srclib/libconfuse/src/libconfuse_la-lexer.lo
srclib/libconfuse/tests/Makefile
*.ipch
*.bin
.vscode/ipch